/* .heading{
    color: whitesmoke;
    text-align: center;
}
.img1{
    height: 280px;
    width: 100%;
    margin-left: 2%;
    border-radius: 3%;
    margin-top: 5%;
    cursor:pointer;
    
    
}
.card-title{
    margin-top: 0.5%;
    margin-left: 6.5%;
    background: none;
    color: whitesmoke;
    
}
.card-text{
    color: whitesmoke;
    margin-left: 2.4%;
    font-style: italic;
}
.tags{
    margin-left: 6.5%;
    color:whitesmoke;
    font-style:initial;
    font-size: large;
}
.btn{
    margin-left: 6%;
}
.g{
    text-align: center;
}
.img{
    width: 15%;
    float: left;
    margin-left: 75px;
    text-align: center;
}
.imgs{
    width:15%;
    float: left;
    margin-left: 50px;
    text-align: center;
}
.btn-success{
	background-color: #c0aa83;
	border-color: #c0aa83;
	color: #fff;
}

.btn-success:hover{
	background-color: #242424;
	border-color: #242424;
	color: #fff;
} 
a.social-icon{
	color:#242424;
}

a.social-icon:hover{
	color:#c0aa83;
}

.imgk{
    width:15%;
    float: left;
    margin-left: 50px;
    text-align: center;
}
.imgl{
    width:15%;
    float: left;
    margin-left: 50px;
    text-align: center;

}

.imgm{
    width:15%;
    float: left;
    margin-left: 50px;
    text-align: center;


}
.img2{
    cursor: pointer;
    height: 280px;
    width: 100%;
    margin-left: 2%;
    border-radius: 3%;
    margin-top: 5%;

}

.imgn{
    margin-top: 3%;
    width:15%;
    margin-left: 75px;
    text-align: center;
    float: left;

}

.imgo{
    margin-top: 3%;
    width:15%;
    margin-left: 50px;
    float: left;
    text-align: center;

}
.imgp{
    margin-top: 3%;
    width:15%;
    margin-left: 50px;
    float: left;
    text-align: center;

}

.imgq{
    margin-top: 3%;
    width:15%;
    margin-left: 50px;
    float: left;
    text-align: center;

}
.imgr{
    margin-top: 3%;
    width:15%;
    margin-left: 50px;
    float: left;
    text-align: center;

}


.a{
    height:150px;
    width:90%;
    margin-top: 250px;
    margin-left: 5%;
    background-color:#c0aa83;
} 
.b{
    height:180px;
    width:90%;
    margin-top: 80%;
    margin-left: 5%;
    background-color:rgb(14, 202, 58);

}
.inp{
    border:2px solid;
    padding-top: -10%;
    margin-left: 30%;
    border-color:#c0aa83;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10px;
}
.inp:hover{
    border-color: aqua;
}

.but{
    margin-top: 2%;
    background-color:#242424;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: 2%;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}
.but:hover{
    background-color:#fff;
    color: black;
    font-weight: bold;

}
.txt{
    padding-top: 2%;
    margin-left: 4%;
    float: left;    
}

.naya{
    height: 150px;
    width: 80%;
    color: black;
    background-color: rgb(115, 10, 105);
 }

 .line{
    padding-top: 3.7%;
    float:left;

 }
 .but1{
    padding-top: 3.7%;
    float:left;
    margin-left: 8%;
 } */